<section class="register">

    <h1>Tell us about yourself</h1>
    <form action="/users/register" method="post">
        <div>
            <input type="text" name="firstName" value="{{input.firstName}}" placeholder="First Name" required autofocus/>
        </div>
        <div>
            <input type="text" name="lastName" value="{{input.lastName}}" placeholder="Last Name" required/>
        </div>
        <div>
            <input type="text" name="username" value="{{input.username}}" placeholder="Username" required/>
        </div>
        <div>
            <input type="password" name="password" autocomplete="off" placeholder="Password" required/>
        </div>
        <div>
            <input type="submit" value="Signup as new user" />
        </div>
        <span class="error-msg">{{error}}</span>
    </form>
</section>
