<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Your Choices:</h1>
            <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6">
                <li><a href="/create-poll">Create new polls</a></li>
                <li><a href="/my-polls">Manage existing polls</a></li>
                <li><a href="/profile">Show logged-in profile</a></li>
            </ul>
        </div>
    </div>
</div>
