<section class="main">
    <div>
        <aside>
            <h3>><a href="/polls#/create">Create new polls</a></h3
                <p>Poll your friends on everything you've always wanted to know but were afraid to ask.</p>
            </aside>
            <aside>
                <h3><a href="/polls#/manage">Manage existing polls</a></h3>
            <p></p>
        </aside>
        <aside>
            <h3><a href="/users/profile">Show logged-in profile</a></li></h3>
            <p></p>
        </aside>
    </div>
</section>