<section class="main">

    <aside>
        <a href="/polls#/create">
            <div class="content create">
                <h3>Create new polls</h3>
                <p>Poll your friends on everything you've always wanted to know but were afraid to ask.</p>
            </div>
        </a>
    </aside>

    <aside>
        <a href="/polls#/manage">
            <div class="content manage">
                <h3>Manage existing polls</h3>
                <p>See what your friends think about life’s big questions as elegantly put in your polls.</p>
            </div>
        </a>
    </aside>

    <aside>
        <a href="/users/profile">
            <div class="content settings">
                <h3>Settings</h3>
                <p>Delve into the depths of the Vote-au-Matic machine and fine-tune away.</p>
            </div>
        </a>
    </aside>

</section>