<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/css/app.css' />
</head>

<body>

  <body id="appLayout">
    <a href="/">
      <header class="hero-unit" id="banner">
        <div class="container">
          <h1>Vote-au-Matic</h1>
          <p class="lead">What you've always wanted to know but were afraid to ask</p>
        </div>
      </header>
    </a>

    {{#if username}}
    <div id="greeting">
      <strong>Hi {{username}}!</strong>
      <a href=/users/logout>Log out</a>
    </div>
    {{/if}} 
    
    {{{body}}}

    <footer class="footer">
      <div class="container">
        <p>Freecodedamp Basejump #1 |
          <a href="https://twitter.com/MAF27Test">@MAF27Test</a></p>
      </div>
    </footer>


  </body>

</html>