<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='/css/app.css' />
</head>

<body>

  <div id="page">

    <header>
      <a class="logo" title="Vote-au-Matic" href="/">Vote-au-Matic</a>
    </header>
    <nav>
      <ul>
        {{#if username}}
        <li>
          <strong>Hi {{username}}!</strong>
          <a href=/users/logout>Log out</a>
        </li>
        {{else}}
        <li><a>Sign Up</a></li>
        <li><a>Log In</a></li>
        {{/if}}
      </ul>
    </nav>

    {{{body}}}

  </div>

  <footer>
    <div class="content">
      <p>Freecodedamp Basejump #1 |
        <a href="https://twitter.com/MAF27Test">@MAF27Test</a></p>
    </div>
  </footer>


</body>

</html>