<section class="manage">
    <div class="content">
        <h1>Manage Polls</h1>

        <p ng-show="!vm.data">Loading ...</p>
        <p ng-show="vm.data.length === 0">No polls yet. Create them here: &nbsp;<a href="/polls#/create" class="btn">Create Poll</a></p>
        <ul ng-repeat="pollRecord in vm.data">
            <li><strong>'{{pollRecord.poll.title}}'</strong>
                <span>Link: <a href="{{vm.url}}/polls#/vote/{{pollRecord._id}}">{{vm.url}}/polls#/vote/{{pollRecord._id}}</span></a>
                <div class="buttons">
                    <button class="delete" ng-click="vm.deletePoll(pollRecord._id, $index);">Delete</button>
                    <button ng-click="vm.showStats(pollRecord._id);">Show Stats</button>
                </div>
            </li>
        </ul>

    </div>
</section>