{{!--Container for Angular modules--}}
<div ng-view></div>

<script type="text/javascript" src="/bower/angular/angular.min.js"></script>
<script type="text/javascript" src="/bower/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript" src="/app/client.js"></script>
<script type="text/javascript" src="/app/client-routes.js"></script>
<script type="text/javascript" src="/app/create/create-poll.js"></script>
<script type="text/javascript" src="/app/vote/vote.js"></script>
<script type="text/javascript" src="/app/manage/manage-polls.js"></script>
<script type="text/javascript" src="/app/stats/stats.js"></script>

<script type="text/javascript" src="/app/services/api-service.js"></script>
